<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
  <display-name>Persistent HTTP connection demo</display-name>
  <description>Browser callback framework from www.xmlBlaster.org</description>

  <servlet>
    <servlet-name>SystemInfo</servlet-name>
    <description>Persistent HTTP connection demo servlet with dynamic HTML</description>
    <servlet-class>http.dhtml.systemInfo.SystemInfo</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>PullServlet</servlet-name>
    <description>Simple unprotected xmlBlaster access</description>
    <servlet-class>org.xmlBlaster.protocol.http.simple.PullServlet</servlet-class>
    <init-param>
      <param-name>loginName</param-name>
      <param-value>pullServlet</param-value>
      <description>Any browser may access!</description>
    </init-param>
    <init-param>
      <param-name>passwd</param-name>
      <param-value>something</param-value>
      <description>Any browser may access!</description>
    </init-param>
  </servlet>

  <!-- Core servlets to support persistent http -->
  <servlet>
    <servlet-name>BlasterHttpProxyServlet</servlet-name>
    <description>Persistent HTTP connection demo servlet</description>
    <servlet-class>org.xmlBlaster.protocol.http.BlasterHttpProxyServlet</servlet-class>
    <init-param>
      <param-name>info</param-name>
      <param-value>true</param-value>
      <description>dumps messages</description>
    </init-param>
    <init-param>
      <param-name>trace</param-name>
      <param-value>false</param-value>
      <description>sets the log level to trace</description>
    </init-param>
    <init-param>
      <param-name>time</param-name>
      <param-value>false</param-value>
      <description>dump some performance time stamps</description>
    </init-param>
    <init-param>
      <param-name>call</param-name>
      <param-value>false</param-value>
      <description>trace some method invocations</description>
    </init-param>
    <init-param>
      <param-name>dump</param-name>
      <param-value>false</param-value>
      <description>dumps messages</description>
    </init-param>
    <init-param>
      <param-name>queue/connection/defaultPlugin</param-name>
      <param-value>RAM,1.0</param-value>
    </init-param>
    <init-param>
      <param-name>protocol</param-name>
      <param-value>SOCKET</param-value>
    </init-param>

    <!-- Example to look for xmlBlaster on another host -->
    <!-- init-param>
      <param-name>dispatch/connection/plugin/socket/hostname</param-name>
      <param-value>192.168.1.5</param-value>
      <description>IP where xmlBlaster is running if not on tomcats host (example for SOCKET protocol)</description>
    </init-param -->

    <!-- Type  "java HelloWorld3 -help"  to get a list of all available options -->
  </servlet>

  <servlet>
    <servlet-name>AppletServlet</servlet-name>
    <description>Persistent HTTP connection demo servlet</description>
    <servlet-class>org.xmlBlaster.protocol.http.appletproxy.AppletServlet</servlet-class>
    <init-param>
      <param-name>info</param-name>
      <param-value>true</param-value>
      <description>dumps messages</description>
    </init-param>
    <init-param>
      <param-name>trace[servlet]</param-name>
      <param-value>false</param-value>
      <description>sets the log level to trace</description>
    </init-param>
    <init-param>
      <param-name>time</param-name>
      <param-value>false</param-value>
      <description>dump some performance time stamps</description>
    </init-param>
    <init-param>
      <param-name>call[servlet]</param-name>
      <param-value>false</param-value>
      <description>trace some method invocations</description>
    </init-param>
    <init-param>
      <param-name>dump</param-name>
      <param-value>false</param-value>
      <description>dumps messages</description>
    </init-param>
    <init-param>
      <param-name>queue/connection/defaultPlugin</param-name>
      <param-value>RAM,1.0</param-value>
    </init-param>
    <init-param>
      <param-name>protocol</param-name>
      <param-value>SOCKET</param-value>
    </init-param>

    <!-- Example to look for xmlBlaster on another host -->
    <!-- init-param>
      <param-name>dispatch/connection/plugin/socket/hostname</param-name>
      <param-value>192.168.1.5</param-value>
      <description>IP where xmlBlaster is running if not on tomcats host (example for SOCKET protocol)</description>
    </init-param -->
    <!-- init-param>
      <param-name>dispatch/connection/plugin/socket/port</param-name>
      <param-value>7607</param-value>
      <description>Port where xmlBlaster is running if not on default port (example for SOCKET protocol)</description>
    </init-param -->

    <!-- Type  "java HelloWorld3 -help"  to get a list of all available options -->
  </servlet>

  <!-- Simple servlet to test your browser push back capabilities -->
  <servlet>
    <servlet-name>BrowserTest</servlet-name>
    <description>Testing Persistent HTTP connection with your browser</description>
    <servlet-class>org.xmlBlaster.protocol.http.BrowserTest</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>PullServlet</servlet-name>
    <url-pattern>/pull</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SystemInfo</servlet-name>
    <url-pattern>/dhtml/systemInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BlasterHttpProxyServlet</servlet-name>
    <url-pattern>/BlasterHttpProxyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppletServlet</servlet-name>
    <url-pattern>/AppletServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowserTest</servlet-name>
    <url-pattern>/BrowserTest</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>300000</session-timeout>
  </session-config>

  <mime-mapping>
    <extension>svg</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svgz</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
</web-app>

