/*----------------------------------------------------------------------------------------------
Name:      xmlBlaster.css
<body bgcolor="#FFFFFF" link="#901B1B" vlink="#4D0F0F" alink="#F1C101" background="xmlBlasterBanner.gif">
----------------------------------------------------------------------------------------------*/

body {FONT-FAMILY: verdana,arial,helvetica,sans-serif; COLOR: black; BACKGROUND-COLOR: #FFFFFF; }
table { width: "100%"; BORDER-WIDTH: 0; CELL-PADDING: 10; CELL-SPACING: 10; }
td {FONT-FAMILY: verdana,arial,helvetica; COLOR: black; BACKGROUND-COLOR: #EEEEEE; font-size:10pt;}
th {FONT-FAMILY: verdana,arial,helvetica; COLOR: black; BACKGROUND-COLOR: #DDDDDD; font-size:10pt;}
p,i,li,ul,ol {FONT-FAMILY: verdana,arial,helvetica,sans-serif; COLOR: black; font-size:10pt;}
a {FONT-FAMILY: verdana,arial,helvetica,sans-serif; font-size:10pt; color: #901B1B;}

a:visited {color: #4D0F0F;}
a:active {color: #F1C101;}

.sitetitel {font-size: 18pt; font-weight: bold; text-align : center;}
.celltitel {font-weight: bold;}
.small {font-size: 8pt;}
.sideend {color: #aaaaaa}


/*----------------------------------------------------------------------------------------------
	The folowing classes are used for the requirements tables:
----------------------------------------------------------------------------------------------*/
td.reqId {FONT-FAMILY: verdana,arial,helvetica; COLOR: black; BACKGROUND-COLOR: #DDDDDD; font-size:10pt;}
td.topic {FONT-FAMILY: verdana,arial,helvetica; COLOR: black; BACKGROUND-COLOR: #FFFF99; font-size:10pt;}
td.description {FONT-FAMILY: verdana,arial,helvetica; COLOR: black; BACKGROUND-COLOR: #FFFF99; font-size:10pt;}
td.example {FONT-FAMILY: verdana,arial,helvetica; COLOR: black; BACKGROUND-COLOR: #FFFF99; font-size:10pt;}
/* OPEN/INWORK/CLOSED corresponds to status attribute in requirement.dtd: */ 
td.OPEN { BACKGROUND-COLOR: #E6E6E6; }
td.INWORK { BACKGROUND-COLOR: #FFFF99; }
td.CLOSED { BACKGROUND-COLOR: #3DEB3D; }
pre {FONT-FAMILY: courier;}
p.code {FONT-FAMILY: courier;}

