<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
  <section name="simpleLog" type="SimpleLogLib.SimpleLogConfigSectionHandler, SimpleLogLib" />
 </configSections>
 <simpleLog>
  <logger name="XmlBlaster.QosMessageUnit" logLevel="Warn" />
  <logger name="XmlBlaster.MessageUnit" logLevel="Warn" />
 </simpleLog>
</configuration>
